{% extends 'base.html' %}

{% load staticfiles %}

{% block back %}
<span type=button class="glyphicon glyphicon-chevron-left btn" onClick="javascript:history.go(-1);"></span>
{% endblock %}

{% block title %}About{% endblock %}

{% block body_block %}

<div class="well" style="padding-top: 0; padding-bottom: 1%;">
        <h1>About</h1>
</div>


    <div class="row">
        <div class="col-lg-6">
            Chain Cog is a bike sharing web app created by Luis Gutierrez.
        </div>

        <div class="col-lg-6" style="text-align: center;">
            <img  width="300" height="300" src="{% static 'img/me.jpg' %}" alt="Picture of ME" />
        </div>
    </div>
{% endblock %}